@use '../abstracts/functions' as *;
#sign-in-container {
    margin: auto 1.75rem auto 1.6875rem;
}
#sign-in-heading {
    margin-bottom: 2rem;
    .heading {
        margin-bottom: 1.3rem;
    }
}
#register-here {
    color: clr(primary);
}
#sign-in-form {
    margin-bottom: 1.5rem;
    .animated-input:first-child {
        margin-bottom: 3.25rem;
    }
    .animated-input {
        margin-bottom: 1.0625rem;
    }
}
#sign-in-extra-op {
    font-size: 0.75rem;
    font-weight: 300;
}
input[name="remember-password"] {
    margin-right: .625rem;
}
#forgot-password {
    color: inherit;
}
#sign-in-social {
    margin-top: 2.4375rem;
    span {
        margin-bottom: 1.9rem;
    }
    svg {
        width: 2.12rem;
        height: 2.133125rem;
    }
}
.video-container {
    border-radius: 0 2.5rem 2.5rem 0;
}
@media (min-width: 992px) {
    #sign-in-container {
        margin: auto 4.5rem auto 4.6875rem;
    }
}
@media (min-width: 576px) {
    #sign-in-social {
        svg {
            width: 2.59125rem;
            height: 2.59125rem;
        }
    }
}